/* Please Make only Rhino and Zebra Blue */
#rhino {
    color: blue;
}
#zebra {
    color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
    color: gold;
}
/* Please select Duck with the highest level of specificity possible */
.areDucksDinosaurs {
    /*with no spaces = select the item which fits all of these.*/
    color: lime;
}
/* Please select Rhino with the highest level of specificity possible */
#rhino {

}